

body {
    margin: 0px;
    padding: 0px;
}
html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Hanken Grotesk';
}

*, *::before, *::after {
    box-sizing: inherit;
}

.big-card {
    padding: 4% 8%;
    min-width: 375px;
}

#card {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 6px 29px -13px rgba(0,0,0,0.27);
    border-radius: 0px 0px 0px 30px;
}

 /* Left-side */
.left-side {
    margin-bottom: 0;
    text-align: center;
    color: #c1bdf7;
    width: 100%;
    height: 50%;
    padding: 20px 20%;
    background-color:  #7857ff;
    border-radius: 0px 0px 30px 30px;
    flex-basis: 50%;
}

 .blue h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 30px;
} 

.circle {
    margin: 0 auto;
    width: 200px;
    padding-top: 30px;
    height: 200px;
    border-radius: 100px;
    background-image: linear-gradient(to bottom, #4e21ca, #5930d7, #633de4, #6e4af2, #7857ff);
}

.circle h2 {
    margin: 0;
    font-size: 5.1rem;
    font-weight: 800;
    color: #ffffff;
}

.left-side h3 {
    margin:40px 0px 22px;
    font-size: 1.8rem;
    color: #ffffff;
}

.left-side p {
    margin-top: 0;
}

 /* The-Right-side */
.right-side {
    margin-top: 0;
    width: 100%;
    height: 50%;
    padding: 20px 9%;
    background-color: #ffffff;
    flex-basis: 50%;
}

.right-side h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 23px;
}

.s-box {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    margin-bottom: 11px;
    border: none;
    border-radius: 10px;
}

.ss-box {
    display: flex;
}

.ss-box p {
    font-size: 1rem;
    font-weight: 600;
}

.s-box span {
    font-weight: 600;
}

.ss-reaction {
    color: #ff5757;
}

.s-reaction {
    background-color: #fcd4d4;
}

.ss-memory {
    color: #ffb01f;
}

.s-memory {
    background-color: #fff7e5;
}

.ss-verbal {
    color: #00bd91;
}

.s-verbal {
    background-color: #c0ece2;
}

.ss-visual {
    color: #1125d4;
}

.s-visual {
    background-color: #c1c9e2;
}

.ss-box img {
    margin-right: 7px;
}

button {
    font-size: 0.9rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #303b5a;
    border: 0;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    margin: 20px 0;
    cursor: pointer; 
} 

button:active {
    background-color: #7857ff;
}

@media  (min-width: 992px) {
    .big-card {
        padding: 7% 23%;
        max-width: 1440px;
        margin: 0 auto;
    }
    #card { 
        flex-direction: row;
        border-radius: 0px 0px 30px 0px;
        box-shadow: 12px 32px 29px -21px rgba(0,0,0,0.24);
    }
    .left-side {
        width: 50%;
        height: 100%; 
        padding: 22px 8%;
        border-radius: 30px 30px 30px 30px;
    }
    .right-side {
        width: 50%;
        height: 100%;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: rgb(62, 82, 163); }
